body{
    background-color: rosybrown;
}

h1{
    color: aquamarine;
}

h2{
    background-color: cadetblue;
}
h3{
    background-color: cyan;
}
h4{
    background-color: darkblue;
}
h5{
    background-color: darkorchid;
}

p{
    color: royalblue;
}

